<a href="https://colab.research.google.com/github/GNANASAMBANTHAN/Python-Basics/blob/main/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
a=56
b=45
print(a+b)

101

In [ ]:
print(type(b))

<class 'int'>

In [ ]:
if 5 > 2:
  print("Five is greater than two!")
else:
  print("Five is less than two!")

Five is greater than two!

In [ ]:
if 24 < 48:
  print("24 is less than 48")
else:
  print("24 is greater than 48")

24 is less than 48

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = """Sam is a handsome boy"""
print(a)

Sam is a handsome boy

In [ ]:
a = """Sam has 5 apples and 3 guaava"""
print(a)

Sam has 5 apples and 3 guaava

In [ ]:
a = """10.05.2004"""
print(a)

10.05.2004

In [ ]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'apple', 'banana', 'cherry'}

In [ ]:
print(type(myset))

<class 'set'>

In [ ]:
import pandas as pd

In [ ]:
from tabulate import tabulate

In [ ]:
import traceback

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from requests import get

In [ ]:
import requests

In [ ]:
import os

In [ ]:
a=26
b=76
c=(a*b)
print(c)

1976

In [ ]:
lst_names = []
lst_cities = ["Bangalore","Chennai", "SFO", "Beijing"]
lst_cities.append("NYC")
lst_age = [10,20]
lst_age.append(30)
for val in lst_cities:
  print(val)
if "SFO" in lst_cities:
  print("yes")
else:
  print("no")

Bangalore
Chennai
SFO
Beijing
NYC
yes

In [ ]:
set_names = ()
set_cities = ["Himachal Pradesh","Uttar Pradesh","Delhi","Denmark"]
set_cities.append("Chennai")
set_age = [20,40]
set_age.append(60)
print(set_cities)
print(set_age)

['Himachal Pradesh', 'Uttar Pradesh', 'Delhi', 'Denmark', 'Chennai']
[20, 40, 60]

In [ ]:
dict_data = {}
dict_data['pet'] = []
dict_data['pet'].append({
    'name': 'Dog',
    'website': 'doggy.com',
    'from': 'England'
})
dict_data['pet'].append({
    'name' : 'Tiger',
    'website': 'Tigo.com',
    'from': 'Australia'
})
print(dict_data)
print(type(dict_data))

{'pet': [{'name': 'Dog', 'website': 'doggy.com', 'from': 'England'}, {'name': 'Tiger', 'website': 'Tigo.com', 'from': 'Australia'}]}
<class 'dict'>

In [ ]:
dict_course ={'Sub':'English','Topic':'Grammar','Level':'Easy'}
print(dict_course)
print(type(dict_course))

{'Sub': 'English', 'Topic': 'Grammar', 'Level': 'Easy'}
<class 'dict'>

In [ ]:
print(dict_course['Sub'])

English

In [ ]:
for key, value in dict_course.items():
  print(value)

English
Grammar
Easy

In [ ]:
lst_pet_types = ["Dog", "Tiger", "Elephant"]
c_pet_types = len(lst_pet_types)
print(f"# pet types: {c_pet_types}")
dict_pets = {"name": "Dog", "age": 2}
c_pets = len(dict_pets)
print(f"# pets: {c_pets}")
dict_pets = {"pets": [{"name": "Dog", "age": 2}, {"name": "Dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "Dog", "age": 2}, {"name": "Dog", "age": 2}],
            "persons": [{"name": "Siva", "age": 20}, {"name": "Vasu", "age": 14}]}
c_pets, c_humans = len(dict_pets), len(dict_p_h)
print(f"# pets: {c_pets} ; # humans: {c_humans}")
lst_keys = [*dict_p_h]
lst_values = [*dict_p_h.values()]
print(f"# keys: {len(lst_keys)} | # values: {len(lst_values)}")
print(f"keys: {lst_keys} | values: {lst_values}")

# pet types: 3
# pets: 2
# pets: 1 ; # humans: 2
# keys: 2 | # values: 2
keys: ['pets', 'persons'] | values: [[{'name': 'Dog', 'age': 2}, {'name': 'Dog', 'age': 2}], [{'name': 'Siva', 'age': 20}, {'name': 'Vasu', 'age': 14}]]

In [ ]:
import csv

In [ ]:
import sys

print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
x = 24
y = "Good Morning Sam"
print(x)
print(y)

24
Good Morning Sam

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [ ]:
#This is a coment
#written in
#more than just one line
print("Good Evening!")

Good Evening!

In [ ]:
a = 24
A = "Sam"
#A will not overwrite a
print("A")

A

In [ ]:
myvar = "Siva"
my_var = "Sam"
_my_var = "Shiva"
myVar = "Vasu"
MYVAR = "Vasu"
myvar2 = "Samsiva2k4"

In [ ]:
x, y, z = "Jackfruit", "Mango", "Guava"
print(x)
print(y)
print(z)

Jackfruit
Mango
Guava

In [ ]:
fruits = ["Jackfruit", "Mango", "Guava"]
x, y, z = fruits
print(x)
print(z)
print(y)

Jackfruit
Guava
Mango

In [ ]:
x = "Programming"
y = "is"
z = "easy to learn"
print(x, y, z)

Programming is easy to learn

In [ ]:
x = "Programming "
y = "is "
z = "so funny to learn"
print(x + y + z)

Programming is so funny to learn

In [ ]:
x = 5
y = 12
print(x + y)

17

In [ ]:
x = 24
y = "Sam"
print(x, y)

24 Sam

In [ ]:
x = "beautifull"

def myfunc():
  print("Python is " + x)

myfunc()

Python is beautifull

In [ ]:
x = "Beautifull"

def myfunc():
  x = "Fabulous"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is Fabulous
Python is Beautifull

In [ ]:
x = "Intelligent"

def myfunc():
  global x
  x = "Fabulous"

myfunc()

print("Python is " + x)

Python is Fabulous

In [ ]:
Carname = "Volvo"
print(Carname)

Volvo

In [ ]:
x = 24
print(type(x))

<class 'int'>

In [ ]:
x = "Sam Siva 2k4"
print(type(x))
print(x)

<class 'str'>
Sam Siva 2k4

In [ ]:
a = 24
b = 534.32
c = 1j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
a = (type(24.00))
print(a)
x = "Sam"
print(x)

<class 'float'>
Sam

In [ ]:
dict_data = {}
dict_data['pet'] = []
dict_data['pet'].append({
    'name': 'Dog',
    'website': 'doggy.com',
    'from': 'England'
})
dict_data['pet'].append({
    'name': 'Tiger',
    'website': 'Tigo.com',
    'from': 'India'
})

for key, value in dict_data.items():
  print(key, ": ", value)

pet : [{'name': 'Dog', 'website': 'doggy.com', 'from': 'England'}]

import json

print(json.dumps(dict_data, indent=4))

pet :  [{'name': 'Dog', 'website': 'doggy.com', 'from': 'England'}, {'name': 'Tiger', 'website': 'Tigo.com', 'from': 'India'}]
{
    "pet": [
        {
            "name": "Dog",
            "website": "doggy.com",
            "from": "England"
        },
        {
            "name": "Tiger",
            "website": "Tigo.com",
            "from": "India"
        }
    ]
}

In [ ]:
dict_la ={'sub': 'English','topic': 'Grammar','Level': 'Difficult'}
print(dict_la)
print(type(dict_la))

{'sub': 'English', 'topic': 'Grammar', 'Level': 'Difficult'}
<class 'dict'>

In [ ]:
for key, value in dict_la.items():
  print(value)

English
Grammar
Difficult

In [ ]:
print(key,':',value)

Level : Difficult

In [ ]:
for key, value in dict_la.items():
  print(key, ':',value)

sub : English
topic : Grammar
Level : Difficult

In [ ]:
print(json.dumps(dict_la))

{"sub": "English", "topic": "Grammar", "Level": "Difficult"}

In [ ]:
import pandas as pd

lst_boy = {
    'Mech_boys': [
        {'Name': 'Sam', 'age': 20},
        {'Name': 'Vasu', 'age': 13}
    ],
    'Royal_boys': [{'Name': 'Sara', 'age': 20}]
}
data = []
for Category, boys in lst_boy.items():
    for boy in boys:
        boy['Category'] = Category
        data.append(boy)
df = pd.DataFrame(data)
print(df)

   Name  age    Category
0   Sam   20   Mech_boys
1  Vasu   13   Mech_boys
2  Sara   20  Royal_boys

In [ ]:
import os
import json

In [ ]:
path_in_pet = "data.join"
if os.path.exists(path_in_pet):
  with open(path_in_pet, 'r') as f:
    dict_data = json.load(f)
    print(type(dict_data))
    print(dict_data)
else:
  print("File not found")

File not found

In [ ]:
from dateutil import parser
from datetime import datetime
dt = parser.parse("Jun 6 2024 9:59PM")
print(dt)
print(type(dt))
datetime_object = datetime.strptime('Jun 6 2024 9:59PM', '%b %d %Y %I:%M%p')
print(datetime_object)

2024-06-06 21:59:00
<class 'datetime.datetime'>
2024-06-06 21:59:00

In [ ]:
age = 20
print("Age is " + str(age))
salary = 100000
f_salary = float(salary)
print("Float salary is " + str(f_salary))
salary = 100000.25
print("Salary is " + str(salary))
i_salary = int(salary)
print("Integer salary is " + str(i_salary))

Age is 20
Float salary is 100000.0
Salary is 100000.25
Integer salary is 100000

In [ ]:
amount = 20.15245152
f_amount = float("{:.2f}".format(amount))
print(f_amount)
amount = 20.15245152
f_amount = round(amount, 2)
print(f_amount)

20.15
20.15

In [29]:
def to_uppercase(in_str):
    return str(in_str).upper()
text = "sam is a bad boy?"
text = to_uppercase(text)
print(text)

SAM IS A BAD BOY?

In [30]:
def to_lowercase(in_str):
    return str(in_str).lower()
text = "An ant is a intelligent animal which named Sara"
text = to_lowercase(text)
print(text)

an ant is a intelligent animal which named sara

In [32]:
text = "This is the first line \n This is the second line"
print(text)
text_clean = text.replace("\n", "")
print(text_clean)

This is the first line
 This is the second line
This is the first line  This is the second line

In [41]:
dict_norm = {
    "Sweety": "Peacock",
    "Deadly": "Peacock",
    "Chubby": "Peacock"
}
dict_species = {
    "Sara": "Sweety",
    "Shivani": "Deadly",
    "Dharshini": "Chubby"
}
print(type(dict_species))
dict_species_norm = {}
for key, value in dict_species.items():
  if value in dict_norm.keys():
    dict_species_norm[key] = dict_norm[value]
  else:
    dict_species_norm[key]= value
print(dict_species_norm)

<class 'dict'>
{'Sara': 'Peacock', 'Shivani': 'Peacock', 'Dharshini': 'Peacock'}

In [49]:
import pandas as pd
data = {'name': ['Vetrimaaran', 'Sam', 'Lokesh'],
        'age': [40, 20, 10]}
df = pd.DataFrame(data)
df["age_normalized"] = df["age"] / df["age"].max()
print(df)

          name  age  age_normalized
0  Vetrimaaran   40            1.00
1          Sam   20            0.50
2       Lokesh   10            0.25

In [55]:
import re
in_str = "Did Samylike's Sara?"
str_clean = re.sub(r'y+', ' ', in_str)
print(str_clean)

Did Sam like's Sara?

In [62]:
from dateutil import parser
from datetime import datetime
import timeit

def fn_1():
  dt = parser.parse("Jun 7 2024 11:08AM")

def fn_2():
  datetime_object = datetime.strptime('Jun 7 2024 11:08AM', '%b %d %Y %I:%M%p')
print(timeit.timeit(stmt=fn_2, number=10**6))

11.145018272000016

In [77]:
import pandas as pd

data = {
    'State': ['Tamil Nadu', 'Tamil Nadu', 'Kerala', 'Kerala', 'Nepal', 'Nepal', 'Tamil Nadu', 'Kerala'],
    'Sex': ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'M']
}
df = pd.DataFrame(data)
df_state_male = (
    df[df['Sex'] == 'M']
    .groupby('State')
    .size()
    .to_frame('count')
    .reset_index()
)
df_sorted = df_state_male.sort_values(by='count', ascending=False)
df_sorted['rank'] = df_sorted['count'].rank(ascending=False, method='min')
df_sorted['pct_rank'] = df_sorted['count'].rank(pct=True) * 100
print(df_sorted.head(10))

        State  count  rank   pct_rank
0      Kerala      2   1.0  83.333333
2  Tamil Nadu      2   1.0  83.333333
1       Nepal      1   3.0  33.333333

In [112]:
b = "Hello, World!"
print(b[:13])
print(b.upper())
print(b.lower())
print(b.replace("Hello", "Hi"))
print(b.strip())
print(b.split(","))
print(b.split(" "))

Hello, World!
HELLO, WORLD!
hello, world!
Hi, World!
Hello, World!
['Hello', ' World!']
['Hello,', 'World!']

In [122]:
txt = "My name is Sam"
print(txt)
age = 20
print("My Age is", + age)

My name is Sam
My Age is 20

In [123]:
rupees = 1000
txt = f"The price of the Shirt is {rupees}"
print(txt)

The price of the Shirt is 1000

In [130]:
txt = "We are so-called \"Indians\" fromn the south."
print(txt)

We are so-called "Indians" fromn the south.

In [133]:
x = "I am very Special"
print(len(x))

17

In [136]:
print(10 > 9)
print( 10 == 9)
print(10 < 9)
print(10!= 9)

True
False
False
True

In [140]:
x = 143
y = 200
if y > x:
  print("x is less than y")
else:
  print("x is greater than y")

x is less than y

In [147]:
print(bool("x"))
print(bool(y))
print(bool(0))

True
True
False

In [148]:
bool("siva")
bool('246')
bool(["Sita", "Maha", "Berry"])
bool([])

False