<a href="https://colab.research.google.com/github/GNANASAMBANTHAN/Python-Basics/blob/main/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
a=56
b=45
print(a+b)

101

In [ ]:
print(type(b))

<class 'int'>

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'apple', 'banana', 'cherry'}

In [ ]:
print(type(myset))

<class 'set'>

In [ ]:
import pandas as pd

In [ ]:
from tabulate import tabulate

In [ ]:
import traceback

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from requests import get

In [ ]:
import requests

In [ ]:
import os

In [ ]:
a=26
b=76
c=(a*b)
print(c)

1976

In [ ]:
lst_names = []
lst_cities = ["Bangalore","Chennai", "SFO", "Beijing"]
lst_cities.append("NYC")
lst_age = [10,20]
lst_age.append(30)
for val in lst_cities:
  print(val)
if "SFO" in lst_cities:
  print("yes")
else:
  print("no")

Bangalore
Chennai
SFO
Beijing
NYC
yes

In [ ]:
set_names = ()
set_cities = ["Himachal Pradesh","Uttar Pradesh","Delhi","Denmark"]
set_cities.append("Chennai")
set_age = [20,40]
set_age.append(60)
print(set_cities)
print(set_age)

['Himachal Pradesh', 'Uttar Pradesh', 'Delhi', 'Denmark', 'Chennai']
[20, 40, 60]

In [ ]:
dict_data = {}
dict_data['pet'] = []
dict_data['pet'].append({
    'name': 'Dog',
    'website': 'doggy.com',
    'from': 'England'
})
dict_data['pet'].append({
    'name' : 'Tiger',
    'website': 'Tigo.com',
    'from': 'Australia'
})
print(dict_data)
print(type(dict_data))

{'pet': [{'name': 'Dog', 'website': 'doggy.com', 'from': 'England'}, {'name': 'Tiger', 'website': 'Tigo.com', 'from': 'Australia'}]}
<class 'dict'>

In [ ]:
dict_course ={'Sub':'English','Topic':'Grammar','Level':'Easy'}
print(dict_course)
print(type(dict_course))

{'Sub': 'English', 'Topic': 'Grammar', 'Level': 'Easy'}
<class 'dict'>

In [ ]:
print(dict_course['Sub'])

English

In [ ]:
for key, value in dict_course.items():
  print(value)

English
Grammar
Easy

In [ ]:
lst_pet_types = ["Dog", "Tiger", "Elephant"]
c_pet_types = len(lst_pet_types)
print(f"# pet types: {c_pet_types}")
dict_pets = {"name": "Dog", "age": 2}
c_pets = len(dict_pets)
print(f"# pets: {c_pets}")
dict_pets = {"pets": [{"name": "Dog", "age": 2}, {"name": "Dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "Dog", "age": 2}, {"name": "Dog", "age": 2}],
            "persons": [{"name": "Siva", "age": 20}, {"name": "Vasu", "age": 14}]}
c_pets, c_humans = len(dict_pets), len(dict_p_h)
print(f"# pets: {c_pets} ; # humans: {c_humans}")
lst_keys = [*dict_p_h]
lst_values = [*dict_p_h.values()]
print(f"# keys: {len(lst_keys)} | # values: {len(lst_values)}")
print(f"keys: {lst_keys} | values: {lst_values}")

# pet types: 3
# pets: 2
# pets: 1 ; # humans: 2
# keys: 2 | # values: 2
keys: ['pets', 'persons'] | values: [[{'name': 'Dog', 'age': 2}, {'name': 'Dog', 'age': 2}], [{'name': 'Siva', 'age': 20}, {'name': 'Vasu', 'age': 14}]]

In [ ]:
import csv

In [ ]:
import sys

print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
x = 24
y = "Good Morning Sam"
print(x)
print(y)

24
Good Morning Sam

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [ ]:
#This is a coment
#written in
#more than just one line
print("Good Evening!")

Good Evening!

In [ ]:
a = 24
A = "Sam"
#A will not overwrite a
print("A")

A

In [ ]:
myvar = "Siva"
my_var = "Sam"
_my_var = "Shiva"
myVar = "Vasu"
MYVAR = "Vasu"
myvar2 = "Samsiva2k4"

In [ ]:
x, y, z = "Jackfruit", "Mango", "Guava"
print(x)
print(y)
print(z)

Jackfruit
Mango
Guava

In [ ]:
fruits = ["Jackfruit", "Mango", "Guava"]
x, y, z = fruits
print(x)
print(z)
print(y)

Jackfruit
Guava
Mango

In [ ]:
x = "Programming"
y = "is"
z = "easy to learn"
print(x, y, z)

Programming is easy to learn

In [ ]:
x = "Programming "
y = "is "
z = "so funny to learn"
print(x + y + z)

Programming is so funny to learn

In [ ]:
x = 5
y = 12
print(x + y)

17

In [ ]:
x = 24
y = "Sam"
print(x, y)

24 Sam

In [ ]:
x = "beautifull"

def myfunc():
  print("Python is " + x)

myfunc()

Python is beautifull

In [ ]:
x = "Beautifull"

def myfunc():
  x = "Fabulous"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is Fabulous
Python is Beautifull

In [ ]:
x = "Intelligent"

def myfunc():
  global x
  x = "Fabulous"

myfunc()

print("Python is " + x)

Python is Fabulous

In [ ]:
Carname = "Volvo"
print(Carname)

Volvo

In [ ]:
x = 24
print(type(x))

<class 'int'>

In [ ]:
x = "Sam Siva 2k4"
print(type(x))
print(x)

<class 'str'>
Sam Siva 2k4

In [ ]:
a = 24
b = 534.32
c = 1j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
a = (type(24.00))
print(a)
x = "Sam"
print(x)

<class 'float'>
Sam

In [ ]:
dict_data = {}
dict_data['pet'] = []
dict_data['pet'].append({
    'name': 'Dog',
    'website': 'doggy.com',
    'from': 'England'
})
dict_data['pet'].append({
    'name': 'Tiger',
    'website': 'Tigo.com',
    'from': 'India'
})

for key, value in dict_data.items():
  print(key, ": ", value)

pet : [{'name': 'Dog', 'website': 'doggy.com', 'from': 'England'}]

import json

print(json.dumps(dict_data, indent=4))

pet :  [{'name': 'Dog', 'website': 'doggy.com', 'from': 'England'}, {'name': 'Tiger', 'website': 'Tigo.com', 'from': 'India'}]
{
    "pet": [
        {
            "name": "Dog",
            "website": "doggy.com",
            "from": "England"
        },
        {
            "name": "Tiger",
            "website": "Tigo.com",
            "from": "India"
        }
    ]
}

In [ ]:
dict_la ={'sub': 'English','topic': 'Grammar','Level': 'Difficult'}
print(dict_la)
print(type(dict_la))

{'sub': 'English', 'topic': 'Grammar', 'Level': 'Difficult'}
<class 'dict'>

In [ ]:
for key, value in dict_la.items():
  print(value)

English
Grammar
Difficult

In [ ]:
print(key,':',value)

Level : Difficult

In [ ]:
for key, value in dict_la.items():
  print(key, ':',value)

sub : English
topic : Grammar
Level : Difficult

In [ ]:
print(json.dumps(dict_la))

{"sub": "English", "topic": "Grammar", "Level": "Difficult"}

num_person = 10
print(f"Type of num_person: {type(num_person)}")

In [12]:
from tabulate import tabulate
def pretty_print(title, df, n):
  print(f"\n{title}")
  print(tabulate(df.head(n), headers="keys", tablefmt="psql"))